# default_floating_border only works for windows that start as floating
# not for windows that are made floating thereafter
for_window [window_role="pop-up"] floating enable
for_window [window_role="task_dialog"] floating enable
for_window [title="Preferences$"] floating enable

for_window [floating] border normal
for_window [class="(i?)floating"] floating enable
for_window [class="Sxiv"] floating enable
for_window [class="mpv"] floating enable
for_window [instance="(i?)floating"] floating enable
for_window [instance="scratchpad.tmux"] move scratchpad, floating enable
for_window [instance="pavucontrol"] floating enable
for_window [class=".virt-manager-wrapped"] floating enable
for_window [class=".arandr-wrapped"] floating enable
